services:
  script:
    image: script:latest # это чтобы версионирование было человеческое
    build:
      context: . # Откуда берем файлы, с которыми живем дальше
      dockerfile: Dockerfile.compose-example # Как звать наш докерфайл
    depends_on:
      - redis

  redis:
    image: redis:alpine
    restart: always
    ports: # Какие порты на локальной машине мапим в какие порты контейнера
      - "6379:6379"
    volumes:
      # этот раздел нужен, чтобы сохранять данные между запусками контейнеров
      # формат:
      #  <путь до локального файла>:<путь внутри контейнера>
      # как пути на винде выглядят -- хз, попробовать сначала юниксовые?
      #
      # Сюда редис будет сваливать свои данные, делает это редко, он так-то
      # in-memory
      - ./redis-data:/root/redis
      # Если хочется подкрутить стандартный конфиг -- создать файлик и указать к нему
      # путь. Обычно нафиг не надо
      # - /path/to/local/redis.conf:/usr/local/etc/redis/redis.conf
    environment: # переменные окружения, которые будут выставлены в контейнере при запуске
      - REDIS_PASSWORD=Test # Как будто вообще нафиг не уперлось
      - REDIS_PORT=6379 # Это порт, на котором сервер redis запустится
      - REDIS_DATABASES=16  # Это дефолт, редис так работает. это что-то типа тейблспейса
